<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Code Cascade</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
        <header id="nav-wrapper">
            <img src="/img/code-cascade-logo-singular-transparent.png" alt="cc-logo" width="80px;">
            <nav>
                <p>HOME</p>
                <p>SEARCH</p>
                <p>ABOUT</p>
                <p>LOGIN</p>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>

</html>