<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Code Cascade</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="icon" type="image/x-icon" href="/img/cci.png">
    </head>

    <body>
        <header id="nav-wrapper">
            <img src="/img/code-cascade-logo-singular-transparent.png" alt="cc-logo" width="80px;">
            <nav>
                <a href="/"><h3>HOME</h3></a>
                <a href="/search"><h3>SEARCH</h3></a>
                {% if loggedIn == True %}
                <a href="/profile"><h3>PROFILE</h3></a>
                <h3 id="logout">LOGOUT</h3>
                {% else %}
                <a href="/login"><h3>LOGIN</h3></a>
                <a href="/signup"><h3>SIGN UP</h3></a>
                {% endif %}
            </nav>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        {% if loggedIn %}
        <script src="/javascript/logout.js"></script>
        {% endif %}
        <script src="/javascript/nav.js"></script>
    </body>

</html>