@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --primary: #191919;
    --primary-transparent: rgba(25, 25, 25, 0.63);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    text-rendering: optimizeLegibility;
    font-family: 'Outfit', sans-serif;
    color: white
}

/* HEADER */
#nav-wrapper {
    z-index: 10000;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
}

#nav-wrapper nav {
    display: flex;
}

/* LANDING SECTION */
#landing-wrapper {
    height: 100vh;

    filter: grayscale(100%);
    background-image: linear-gradient(0deg, var(--primary-transparent), var(--primary-transparent)), 
                      url('../img/landing-banner.jpg');
    background-size: cover;
    background-position: center;
}

/* #landing {

} */