<a class="article-profile-preview" href="/article/{{article.id}}">
    <div class="article-preview-content-wrapper">
        <h4 class="category" data-category="{{article.category}}">{{article.category}}</h4>
        <h2>{{article.title}}</h2>
        <p>{{article.description}}</p>
    </div>
    <div class="article-preview-image article-preview-image-profile"
        style="background-image: linear-gradient(0deg, var(--primary-transparent), var(--primary-transparent)), url({{article.image_preview}})">
    </div>
</a>