<div class="comment" data-id="{{ comment.id }}">
    <div class="comment-wrapper">
        <img src="{{ comment.author.avatar }}" alt="author-img">
        <div class="comment-body">
            <h2>{{ comment.author.username }}</h2>
            <h5>{{ comment.created_at|format_date }}</h5>
            <p>{{ comment.comment_text }}</p>
            {% if loggedIn %}
            {% include "partials/comment-form.html" %}
            <button class="comment-reply-button" id="open-form">
                Reply
            </button>
            {% else %}
            <button class="comment-reply-button">
                Login to Comment
            </button>
            {% endif %}
        </div>
    </div>
    {% for comment in comment.replies %}
        {% include "partials/article-comment.html" %}
    {% endfor %}
</div>