<div class="article-banner-wrapper" style="background-image: linear-gradient(0deg, var(--primary), var(--primary-transparent)), 
                                url('{{article.image_preview}}');">
    <div class="article-banner-text">
        <h3 class="category" data-category="{{article.category}}">{{article.category}}</h3>
        <h1>{{article.title}}</h1>
        {% if isAdmin %}
        <a href="/editArticle/{{article.id}}"><img src="/svg/pencil-solid.svg" alt="edit-article"></a>
        {% endif %}
        {% if loggedIn %}
            <div class="like-or-save">
                <span>
                    <p>{{article.like_count}}</p>
                    {% if is_liked %}
                        <img src="/icons/heart-red.svg" alt="like-article" class="remove-like">
                    {% else %}
                        <img src="/icons/heart-regular.svg" alt="like-article" class="add-like">
                    {% endif %}
                </span>
                <span>
                    <p>{{article.save_count}}</p>
                    {% if is_saved %}
                        <img src="/icons/bookmark-green.svg" alt="save-article" class="unsave-article">
                    {% else %}
                        <img src="/icons/bookmark-regular.svg" alt="save-article" class="save-article">
                    {% endif %}
                </span>
            </div>
        {% endif %}
        <a href="#article-content" class="content-button-wrap">
            <img src="/icons/chevron-down-solid.svg" alt="go-to-content">
        </a>
    </div>
</div>
<script src="/javascript/article-banner.js"></script>