<section class="comment-form-content">
    <h1>Comments</h1>
    <form class="comment-form flex" id="add-article-comment"]>
        <img src="{{ avatar }}" alt="user-avatar">
        <div class="block" style="width: 100%;">
            <label for="comment-text">Join the conversation!</label>
            <textarea name="comment-text" rows="3" class="block" placeholder="Enter your comment here."></textarea>
            <button class="comment-reply-button" id="add-comment">
                Reply
            </button>
        </div>
    </form>
</section>
<script src="/javascript/add-article-comment.js"></script>