{% extends "layout/main.html" %}

{% block body %}

<section class="edit-profile-wrapper">
    <section class="edit-profile-block">
        <h1>Edit Profile</h1>

        <form action="submit">
            <fieldset>
                <h2>Edit Profile Picture</h2>
            </fieldset>
            <fieldset>
                <label for="bio-input">
                    <h2>Edit Bio</h2>
                </label>
                <input type="text" id="bio-input">
            </fieldset>
            <fieldset>
                <label for="linkedin-input">
                    <h2>Edit LinkedIn</h2>
                </label>
                <input type="text" id="linkedin-input">
            </fieldset>
            <fieldset>
                <label for="github-input">
                    <h2>Edit GitHub</h2>
                </label>
                <input type="text" id="github-input">
            </fieldset>
            <fieldset>
                <button>Save Profile</button>
            </fieldset>
        </form>
    </section>
</section>

{% endblock %}