{% extends "layout/main.html" %}

{% block body %}

<section id="landing-wrapper">
    <div id="landing">
        <img src="/img/code-cascade-logo-transparent.png" alt="logo-landing">
    </div>
</section>
<section id="about-wrapper">
    <div id="about">
        <h1>ABOUT</h1>
        <p>
            Code Cascade is a web development blog, based in Oregon, for developers of all skill levels. 
            Code Cascade aims to provide easily digestible, beginner friendly, and insightful information 
            on various different web development technologies or topics. Whether you're new to web development,
            or if you're an experienced developer looking to grow their skills, Code Cascade has something for everyone.
        </p>
    </div>
</section>

{% endblock %}