{% extends "layout/main.html" %}

{% block body %}

<section class="auth-wrapper">
    <form class="auth-form">
        <div class="form-wrap">
            <h2>Login</h2>

            <label for="email">Email</label>
            <input type="email" name="email">

            <label for="password">Password</label>
            <input type="text" name="password">

            <button type="submit">Login</button>
        </div>

        <a href="/signup" class="auth-bottom-link">Don't have an account?</a>
    </form>
</section>

{% endblock %}