{% extends "layout/main.html" %}

{% block body %}

<section class="section-content-wrapper">
    <div class="profile-block">
        <div class="profile-user-info">
            <img src="{{user.avatar}}" alt="profile-picture">
            <div class="user-info">
                <h1>{{user.username}}</h1>
                <ul>
                    <li>
                        <a href="mailto:{{user.email}}" target="_blank">
                            <img src="/icons/envelope-solid.svg" alt="email-icon">
                        </a>
                    </li>
                    <li>
                        <img src="/icons/github.svg" alt="github-icon">
                    </li>
                    <li>
                        <img src="/icons/linkedin.svg" alt="linkedin-icon">
                    </li>
                </ul>
            </div>
        </div>
        <div class="profile-content">
            <ul class="profile-nav">
                <li id="about">
                    <img src="/icons/user-solid.svg" alt="user-about-icon">
                </li>
                <li>
                    <img src="/icons/heart-solid.svg" alt="heart-icon">
                </li>
                <li>
                    <img src="/icons/bookmark-solid.svg" alt="bookmark-icon">
                </li>
                <li>
                    <img src="/icons/comment-solid.svg" alt="comment-icon">
                </li>
            </ul>
            <div class="profile-body">
                <div class="bio">
                    <p>{{user.bio}}</p>
                </div>
                <div class="liked-articles none">
                    {% for like in user.liked_articles %}
                        {% with article=like.article %}
                            {% include 'partials/article-profile-preview.html' %}
                        {% endwith %}
                    {% endfor %}
                </div>
                <div class="saved-articles none">
                    {% for save in user.saved_articles %}
                        {% with article=save.article %}
                            {% include 'partials/article-profile-preview.html' %}
                        {% endwith %}
                    {% endfor %}
                </div>
                <div class="recent-comments none">

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}