{% extends "layout/main.html" %}

{% block body %}

<section class="auth-wrapper">
    <form class="auth-form">
        <div class="form-wrap">
            <h2>Sign Up</h2>

            <label for="username">Username</label>
            <input type="text" name="username">

            <label for="email">Email</label>
            <input type="email" name="email">

            <label for="password">Password</label>
            <input type="text" name="password">

            <button type="submit">Sign Up</button>
        </div>

        <a href="/login" class="auth-bottom-link">Already have an account?</a>
    </form>
</section>

{% endblock %}