{% extends "layout/main.html" %}

{% block body %}

<section class="auth-wrapper">
    <form class="input-form">
        <div class="form-wrap">
            <h2>Sign Up</h2>

            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Must be at least 8 characters." minlength="8">

            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Enter a valid email address.">

            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Must be at least 8 characters." minlength="8">

            <label for="confirm-password">Confirm Password</label>
            <input type="password" name="confirm-password" placeholder="Must match password." minlength="8">

            <button type="submit">Sign Up</button>
        </div>

        <a href="/login" class="auth-bottom-link">Already have an account?</a>
    </form>
</section>

<script src="/javascript/signup.js"></script>

{% endblock %}